
@{
}

<html>
<head>
    <environment names="Development">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="~/css/index.css" />
    </environment>
    <script>
        $(function () {
            $("#accordion").accordion({ autoHeight: true })
        });
    </script>
    </head>
<body>
    <img src="~/images/logo.png" style="width:23%; height:23%;position:absolute">
    <div id="header">
        <h2 style="color:black"><b>ESharp | Справочник юного программиста</b></h2>
    </div>
    <div id="subheader">
        <h2 style="font-size:16px">... -> Структуры данных -> Массивы</h2>
    </div>
    
    <table>
        <tr>
            <td width="75%"><div id="left_content"></div></td>
            <td><div class="right_content" id="accordion" style="margin-top:-5px; left:20px;">
                    <h4 style="z-index:100000;background-color:#0a0429; border:none; color:white">Типы данных</h4>
                    <div style="padding:0px">
                        <ul>По значению</ul>
                        <ul>Ссылочные</ul>
                    </div>
                    <h4 style="z-index:100000;background-color:#0a0429; border:none; color:white">Переменные</h4>
                    <div>
                        
                    </div>
                    <h4 style="z-index:100000;background-color:#0a0429; border:none; color:white">Конструкции</h4>
                    <div style="padding:0px">
                        <ul>Условный оператор</ul>
                        <ul>Цикл с предусловием</ul>
                        <ul>Цикл с постусловием</ul>
                    </div>
                    <h4 style="z-index:100000;background-color:#0a0429; border:none; color:white">Массивы</h4>
                    <div style="padding:0px">
                        <ul>Одномерный</ul>
                        <ul>Многомерный</ul>
                    </div>
                    <h4 style="z-index:100000;background-color:#0a0429; border:none; color:white">Структуры</h4>
                    <div>
                        
                    </div>
                    <h4 style="z-index:100000;background-color:#0a0429; border:none; color:white">Методы</h4>
                    <div>
                        
                    </div> 
                    <h4 style="z-index:100000;background-color:#0a0429; border:none; color:white">Литература</h4>
                    <div>
                       
                    </div>    
                    <h4 style="z-index:100000;background-color:#0a0429; border:none; color:white">Ссылки</h4>
                    <div>
                       
                    </div>     
                            
                </div>
            </td>
        </tr>
    </table>
<form method="post" enctype="multipart/form-data">
    <input type="file" id="files"
           name="files" multiple />
    <input type="button"
           id="upload"
           value="Upload Selected Files" />
</form>
    
<script>
    $(document).ready(function () {
        $("#upload").click(function (evt) {
            var fileUpload = $("#files").get(0);
            var files = fileUpload.files;
            var data = new FormData();
            for (var i = 0; i < files.length ; i++) {
                data.append(files[i].name, files[i]);
            }
            $.ajax({
                type: "POST",
                url: "/home/UploadFilesAjax",
                contentType: false,
                processData: false,
                data: data,
                success: function (message) {
                    alert(message);
                },
                error: function () {
                    alert("There was error uploading files!");
                }
            });
        });
    });
</script>

 


</body>
</html>