@using System.Net
@model ESharp.Models.Template05ViewModel

@{
    ViewBag.Title = Model.Title + "(Preview)";
}
<div style="height: 90%;">
    <p><h1>@Model.Title</h1></p>
    <hr />
    <div style="padding-right: 3%; margin-top: -15px;">
        <div id="descr"><code>@Model.Description</code></div>
    </div>
    <button type="submit" class="btn btn-primary" id="back-choosePreview" style="margin-bottom: 0;">Назад</button>
    <button type="submit" class="btn btn-primary pull-right" id="next-choosePreview">Далее</button>

</div>


<script>
        $('#back-choosePreview').click(function () {

            $('#dialog').dialog('close');
            $('#dialogChoose').dialog('close');
            $("#dialogChangeArticle").dialog('close');


        });

        $('#next-choosePreview').click(function () {

            $.ajax({
                type: "Get",
                url: '@Url.Action("AcceptForm","Admin")',
                contentType: 'application/json; charset=utf-8',
                dataType: 'html'
            });

            $('#dialogPreview5').dialog('close');
            $('#dialog').dialog('close');
            $('#dialogChangeArticle').dialog('close');
            alert("Статья добавлена успешно");
            window.location.href = "@Url.Action("Index", "Admin")";
        });


</script>

<style>
    #descr {
        height: 100%;
        width: 100%;
        font-size: medium;
        word-wrap: break-word;
        text-align: justify;
        white-space: pre-line;
    }
</style>
