@using System.Net
@model ESharp.Models.Template02ViewModel


<div style="height: 90%;" >
    <p><h1>@Model.Title</h1></p>
    <hr />
    @if (Model.ImgUrl0 != null)
    {
        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.ImgUrl0))" style="width: 70%; float: left; padding-right: 3%;" />
    }

</div>

