<!DOCTYPE html>
<html>
<head>
    <title>Main</title>

    <environment names="Development">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="@Url.Content("js/accordeon.js")"></script>
        <link rel="stylesheet" href="~/css/index.css" />
        <link rel="stylesheet" href="~/css/admin.css"  />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
</head>
<body>

    <img src="~/images/logo.png"  style="width: 23%; height: 23%; position: absolute">
    <div id="header">
        <h2 style="color: black">
            <b>ESharp | Справочник юного программиста</b>
        </h2>
    </div>
<div id="subheader">
    <div id="menu" style="position: absolute; margin-left: 300px;">
        <a href="#" id="newArticle">Добавить статью</a> | <a href="#" id="newChapter">Добавить раздел</a>
    </div>
</div>


    <div id="dialog" hidden title="Добавление статьи">
        <table>
            <tbody>
                <tr>
                    <td>
                        <button class="template" id="choose1">Template 1</button>
                    </td>
                    <td>
                        <button class="template">Template 2</button>
                    </td>
                    <td>
                        <button class="template">Template 3</button>
                    </td>
                </tr>
                <tr style="height:10px;"><td></td><td></td><td></td></tr>
                <tr>
                    <td>
                        <button class="template">Template 4</button>
                    </td>
                    <td>
                        <button class="template">Template 5</button>
                    </td>
                    <td>
                        <button class="template">Template 6</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div id="dialogChoose" hidden title="Добавление статьи">
    </div>

    <div id="dialogPreview" hidden title="Добавление статьи">
    </div>


    
    <div id="dialogChapter" hidden title="Добавление раздела">
    </div>


@RenderBody()


    <script>
        $(window).ready(function () {
            $('#dialog').dialog({
                autoOpen: false,
                width: 1000,
                height: 500,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "blind",
                    duration: 1000
                }
            });

            $('#dialogChoose').dialog({
                autoOpen: false,
                width: 1200,
                height: 550,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "blind",
                    duration: 1000
                }
            });

            $('#dialogChapter').dialog({
                autoOpen: false,
                width: 600,
                height: 550,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "blind",
                    duration: 1000
                }
            });
        });

        $('#dialogPreview').dialog({
            autoOpen: false,
            width: 1200,
            height: 550,
            show: {
                effect: "blind",
                duration: 1000
            },
            hide: {
                effect: "blind",
                duration: 1000
            }
        });

        

       



        $('#newArticle').click(function () {
            $('#dialog').dialog('open');
        });

        $('#newChapter').click(function () {
          
            $('#dialogChapter').dialog('open');

            $.ajax({
                type: "Get",
                url: '@Url.Action("GetChapterPartial","Admin")',
                contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                success: function (data) {
                    $('#dialogChapter').html(data);
                }
            });
        });

        $('#choose1').click(function () {
            $('#dialog').dialog('close');
            $('#dialogChoose').dialog('close');
            $("#dialogChangeArticle").dialog('close');
            $('#dialogPreview').dialog('open');

            var data = new FormData();
            data.append("Get","");

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetTemplatePartial","Admin")',
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {
                    $('#dialogPreview').html(data);
                }
            });

            $(document).ajaxStart(function () {
                $('#dialogChoose').html("Загрузка");
            });

            $('#next-chooseOk').click(function () {
                
                $('#dialogOk').dialog('close');
            });


        });
    </script>
 

</body>
</html>
