@using System.Net
@model ESharp.Models.Template06ViewModel


<div style="height: 90%;">
    <p><h1>@Model.Title</h1></p>
    <hr />

    <div style="padding-right: 3%; margin-top: -15px;">
        <div id="descr">@Model.Description</div>
    </div>
</div>

